body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)),
    url(/img/123123.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body::after {
  content: "";
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(118, 97, 97, 0.3);
}
body > * {
  position: relative;
  z-index: 99;
}

header {
  background-color: #cdc7be;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}
header h1 {
  font-size: 2rem;
}
main {
  margin: 60px 0;
}

/**
 * Navabr
 */
.navbar {
  background-color: #766161;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

/**
 * Card
 */
.card {
  border: 0;
}
.card-body {
  background-color: #766161;
}
.card-title {
  margin-bottom: 0.25rem;
}
.card-title a {
  color: #fff;
}
.card-text {
  color: #ccc;
}
.card-text a {
  color: #ccc;
  text-decoration: underline;
}
.card-footer {
  background-color: #cdc7be;
  color: #444;
  border-top: 0;
}
.card-footer a {
  color: #444;
  text-decoration: underline;
}
.card-footer a:hover {
  text-decoration: underline;
}

/**
 * Book
 */
.book-container {
  background-color: #cdc7be;
  padding: 1rem;
  border-radius: 0.25rem;
}
.book-meta {
  color: #333;
}
.book-meta a {
  color: #333;
  text-decoration: underline;
}

/**
 * Form
 */
.btn-dark {
  background-color: #766160;
  border-color: #766160;
}
.form-container {
  background-color: #cdc7be;
  border-radius: 0.25rem;
  padding: 1rem;
}
.form-control {
  border: 2px solid #766161;
  min-height: 50px;
}
.form-control:focus {
  border-color: #87a7b3;
  box-shadow: 0 0 0 0.2rem rgb(135 167 179 / 50%);
}

/**
 * Pagination
 */
.page-link {
  background-color: #cdc7be;
  border-color: #cdc7be;
  color: #444;
}
.page-link:hover {
  color: #444;
}
.page-item.disabled .page-link {
  background-color: #cdc7be;
}
.page-item.active .page-link {
  border-color: #766161;
  background-color: #766161;
  color: #fff;
}

/**
 * Alerts
 */
.alert-danger {
  color: #fff;
  background-color: #eb4d4b;
  border-color: #eb4d4b;
}
.alert-success {
  color: #fff;
  background-color: #6ab04c;
  border-color: #6ab04c;
}
